DATABASE_URL=psql 'postgresql://neondb_owner:npg_gSD4TCia3JdO@ep-solitary-river-ahz20q9t-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
BASE_URL=http://localhost:3001
PORT=3001
NODE_ENV=development